<%- include('layout') %>

<!-- <script>

            <% if (messages.success) { %>
                alert("<%= messages.success %>");
            <% } %>
            <% if (messages.error) { %>
                alert("<%= messages.error %>");
            <% } %>

    </script> -->

<div class="title">
    <h1>Welcome to E-Commerce</h1>
    <h2>Products</h2>
</div>
<div class="product-list">
  <% products.forEach(product=> { %>
  <div class="product-item">
    <img src="<%= product.image %>" alt="<%= product.name %>" />
    <h3><%= product.name %></h3>
    <p><%= product.description %></p>
    <p>Price: $<%= product.price %></p>
    <p>Stock: <%= product.stock %></p>
    <% if (user) { %>
    <form action="/api/cart/add" method="POST" class="add_cart_index">
      <!-- Hidden field for product ID -->
      <input type="hidden" name="productId" value="<%= product._id %>" />
      <!-- Quantity Field -->
      <label for="quantity_<%= product._id %>">Quantity:</label>
      <div class="input-field">
        <!-- <label for="quantity_<%= product._id %>">Quantity:</label> -->
        <!-- <i class="fa-solid fa-lock"></i> -->
        <input
          type="number"
          name="quantity"
          id="quantity_<%= product._id %>"
          value="1"
          min="1"
          required
        />
      </div>
      <button type="submit">Add to Cart</button>
    </form>
    <% } else { %>
    <p><a href="/api/auth/login">Login to buy</a></p>
    <% } %>
  </div>
  <% }) %>
</div>

<script>
  //Uncomment Below code when you get token from autherization Header this only work for Postman tool  not in browser
  // Get the token from localStorage
  const token = localStorage.getItem("authToken");
  console.log("Token retrieved For Home Route /:", token); // Check if the token is being retrieved

  // Make a request with the token in the headers
  if (token) {
    fetch("/", {
      method: "GET",
      headers: {
        Authorization: `Bearer ${token}`, // Include the token in the request header
        "Content-Type": "application/json",
      },
    })
      .then((response) => {
        if (!response.ok) {
          throw new Error("Network response was not ok");
        }
        return response.json(); // Parse JSON response
      })
      .then((data) => console.log("Success:", data)) // Handle success
      .catch((error) => console.error("Error:", error)); // Handle error
  } else {
    console.error("No auth token found"); // Handle no token case
  }
</script>
